.locationHero-wrapper, .locationHero-locations-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
.locationHero-heading h1, .locations-items h1{
    text-transform: uppercase;
    color: hotpink;
}
.locationHero-wrapper {
    flex-direction: column;
    padding: 200px 40px 0 40px;
}
.locationHero-heading h1 {
    font-size: 2.3rem;
}
.locationHero-locations-wrapper {
    flex-direction: row;
}
.locations-items {
    text-align: center;
}
.locations-items h1 {
    font-size: 1.5rem;
}
.locations-items p {
    font-size: 1rem;
    padding-top: 5px;
}
.locations-items img {
    width: 100%;
}
.location-items-image {
    box-shadow: black 0 0 20px 3px;
    padding: 20px;
}
.location-items-image:hover {
    box-shadow: inset 0 0 20px 3px;
    cursor: pointer;
}
.locations-items-heading {
    padding-top: 40px;
}
@media only screen and (max-width: 1500px) {
    .locationHero-heading h1 {
        font-size: 2rem;
    }
    .locations-items h1 {
        font-size: 1.2rem;
    }
    .locations-items p {
        font-size: 0.8rem;
    }
}
@media only screen and (max-width: 1440px) {
    .locationHero-wrapper {
        gap: 60px;
    }
    .locationHero-heading h1 {
        font-size: 1.6rem;
    }
    .locations-items h1 {
        font-size: 1rem;
    }
    .locations-items p {
        font-size: 0.6rem;
        padding-top: 10px;
    }
    .locationHero-locations-wrapper {
        gap: 60px;
    }
}
@media only screen and (max-width: 1200px) {
    .location-items-image {
        padding: 12px;
    }
    .locationHero-locations-wrapper {
        gap: 40px;
    }
}
@media only screen and (max-width: 1000px) {
    .locationHero-heading h1 {
        font-size: 1.4rem;
    }
    .locations-items h1 {
        font-size: 0.9rem;
    }
    .locations-items p {
        font-size: 0.5rem;
    }
    .locations-items-heading {
        padding-top: 20px;
    }
}
@media only screen and (max-width: 850px) {
    .locationHero-wrapper {
        padding: 200px 10px 0 10px;
    }
    .locationHero-locations-wrapper {
        width: 70%;
        flex-direction: column;
        gap: 20px;
    }
    .wrapper.mainWrapperLocation {
        height: auto !important;
    }
}
@media only screen and (max-width: 700px) {
    .locationHero-wrapper {
        padding: 200px 0 0 0;
    }
    .locationHero-heading h1 {
        font-size: 1rem;
    }
    .locations-items h1 {
        font-size: 0.6rem;
    }
    .locations-items p {
        font-size: 0.4rem;
    }
    .locationHero-wrapper {
        padding-top: 100px;
        gap: 40px;
    }
}
@media only screen and (max-width: 570px) {
    .locationHero-heading h1 {
        font-size: 0.8rem;
    }
    .locations-items h1 {
        font-size: 0.5rem;
    }
    .locations-items p {
        font-size: 0.3rem;
    }
    .location-items-image {
        padding: 10px;
    }
    .locations-items-heading {
        padding-top: 20px;
    }
}
@media only screen and (max-width: 460px) {
    .locationHero-locations-wrapper {
        flex-direction: column;
        width: 50%;
        gap: 20px;
    }
    .locationHero-heading h1 {
        font-size: 1rem;
    }
    .locations-items h1 {
        font-size: 0.8rem;
    }
    .locations-items p {
        font-size: 0.5rem;
    }
}
@media only screen and (max-width: 320px) {
    .locationHero-heading h1 {
        font-size: 0.8rem;
    }
    .locations-items h1 {
        font-size: 0.6rem;
    }
    .locations-items p {
        font-size: 0.4rem;
    }
    .wrapper.mainWrapperLocation {
        height: 100vh !important;
    }
}